body {
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

/* menu starts here */

div.header {
	background-color:  #ffd1b3;
	height: 90px;
}

div.header h1 {
	float: left;
	padding-left: 60px;
}

div.header ul {
	float: right;
	list-style-type: none;
}

div.header ul li {
	float: left;
	padding-right: 40px;
	padding-top: 20px;
}

div.header ul li a:link {
	color: black;
	text-decoration: none;
}

div.header ul li a:hover {
	color: greenyellow;
	text-decoration: none;
}

a.button-to-themenu:link {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 15px;
}

a.button-to-themenu:visited {
	color: black;
}

a.button-to-themenu:hover {
	background-color: whitesmoke;
	color: black;
}

/* menu ends here */

/* grid özelliğine sahip cssler burada başlıyor */   

div.gridmain {
  display: grid;
  grid-template-columns: 500px auto auto;
  grid-template-rows: auto auto auto;
  /*column-gap: 100px;*/
}

.grid-photo {
	width: 500px;
	height: 510px;
}

div.gridmain img {
	width: 100%;
}

div.grid-text {
	background-color: hotpink;
	text-align: center;
	padding-top: 200px;
}

div.grid-button {
	background-color: orangered;
	text-align: center;
	padding-top: 250px;
}
/* grid özelliğine sahip cssler burada bitiyor */   


footer {
	text-align: center;
}

@media only screen and (max-width: 781px) {
	div.header ul {
	float: left;
	list-style-type: none;
  }

	div.gridmain {
		display: inline-grid;
		grid-template-columns: 350px auto auto;
	}

	.grid-photo {
		float: left;
		width: 100%;
	}

	.grid-text {
		float: left;
	}

	.grid-button {
		float: left;
	}

}

@media only screen and (max-width: 501px) {
	div.header ul {
	float: left;
	list-style-type: none;
	font-size: 0.8em;
  }

  div.gridmain {
		display: inline-grid;
		grid-template-columns: 349px auto auto;
	}

	div.grid-text {
		background-color: hotpink;
		text-align: center;
		padding-top: 50px;
  }

  div.grid-button {
		background-color: orangered;
		text-align: center;
		padding-top: 150px;
	}